---
---

// imports

@import 'reset';
@import 'bourbon/bourbon';
@import 'bitters/bitters';
@import 'bitters/grid-settings';
@import 'neat/neat';
@import 'neat/neat-helpers'; // or "neat-helpers" when in Rails


// Drunken-Jekyll Styles
@import 'dj-typography';
@import 'dj-highlight';
@import 'dj-header';



// Post index layout
.dj-index-post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    font-size: 1.2rem;
    padding: 8px 0;
    border-bottom: 1px solid lighten(black,80);
    border-bottom: 1px solid fade(black,10);
   @include clearfix;
  }
  a > span {
    float: right;
  }
  .dj-index-entry-date {
    font-size: 0.8rem;
    text-transform: uppercase;
    display: inline;
  }
}

// Tag Index

// Tag index
.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  @include clearfix;
  &.inline li {
    float: left;
    font-size: 0.8rem;
    line-height: 2.5;
  }
  a { 
    padding: 4px 6px;
    margin: 2px;
    background-color: lighten(black, 90);
    text-decoration: none;
    span { 
      vertical-align: super;
      font-size: 0.8rem;
    }
  }
}



